{% extends 'Students/Base_student.html' %}
{% block title %}
Создание мероприятия
{% endblock %}
{% block content %}
    <div class="container">
            <div class="events">
                <form action="" method="post" class="needs-validation" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for f in form %}
                        <p><label class="form-check-label" for="{{ f.id_for_label }}">{{ f.label }}:</label> {{ f }}</p>
                        <div class="form-error">{{ f.errors }}</div>
                    {% endfor %}
                    <hr class="my-4">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Добавить мероприятие</button>
                </form>
            </div>
    </div>
{% endblock %}