{% extends 'Students/Base_student.html' %}
{% block title %}
Список мероприятий
{% endblock %}
{% block content %}
    <div class="container">
        {% for model in models %}
            <div class="d-flex bd-highlight mb-3" style="margin-left: 100px">
                <div class="p-2 bd-highlight">
                    <img src="{{ model.photo.url }}" alt="фото студента" width="250px" height="150px">
                </div>
                <div class="p-2 bd-highlight">
                    <a href="{% url 'detail_events' model.pk %}" class="h2 style-href">{{ model.name }}</a>
                    <p class="h3">{{ model.text|truncatewords:50 }}</p>
                    <p class="h3">{{ model.date }} {{ model.time }}</p>
                </div>
            </div>
        {% endfor %}
        <ul class="pagination" style="margin-left: 600px">
            {% for page in model.paginator.page_range %}
                <li class="page-item">
                    <a href="?page={{ page }}" class="page-link">{{ i }}</a>
                </li>
            {% endfor %}
        </ul>
        <ul class="pagination" style="margin-left: 600px">
            {% for i in paginator.page_range %}
                <li class="page-item">
                    <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                </li>
            {% endfor %}
        </ul>
    {{ request.pas }}
    </div>
{% endblock %}