{% extends 'Students/Base_student.html' %}
{% block title %}
    Список мероприятий
{% endblock %}
{% block content %}
    <div>
        {% for model in models %}
            <div class="list_event data">
                <div class="event_image">
                    <a href="{% url 'detail_events' model.pk %}">
                        <img src="{{ model.photo.url }}" alt="фото мероприятия">
                    </a>
                </div>
                <div class="event_info">
                    <a href="{% url 'detail_events' model.pk %}">{{ model.name }}</a>
                    <h2>{{ model.text|truncatewords:50 }}</h2>
                    <h2>{{ model.date }} {{ model.time }}</h2>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <ul>
            {% for page in paginator.page_range %}
                <li class="page-item">
                    <a href="?page={{ page }}" class="page-link">{{ page }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}