ul.hr {
    display: flex;
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}

ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
}

ul.hr a {
    text-decoration: none;
}

ul.hr a:hover {
    color: #46b4e3; /* изменение при наведении цвета */
}


.bot_login {
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    border: 0;
    background: white; /* Цвет фона */
    color: #0d6efd; /* Цвет текста */
    padding: 5px; /* Поля вокруг текста */
    border-radius: 5px; /* Уголки */
    /*border-style: none; !* убриет рамки *!*/
}

.bot_login:hover {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
    background: #0d6efd;
    color: white;
}

.w-30 {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.events {
    width: 650px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.bt-type-reg + .bt-type-reg {
    margin-top: 15px;
}

.bt-type-reg {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border: 5px;
    background: #0d6efd; /* Цвет фона */
    color: white; /* Цвет текста */
    padding: 5px; /* Поля вокруг текста */
    border-radius: 5px; /* Уголки */
}

.bt-type-reg:hover {
    outline: none;
    box-shadow: 0 0 0 5px #cbd6ee;
    background: #095bd6;
    color: white;
}


.vxod {
    margin: 150px 620px;
}

.style-href {
    text-decoration: none
}

.style-href:hover {
    color: #46b4e3;
}

.infostudent {
    color: #163769;
}

.detailstudent {
    text-align: center;
}

.active_hrf {

}

.nonactive_hrf {

}