@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/*Базовые настройки */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* background-color: #24252A; */
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card {
  max-width: 300px;
}

.container {
  width: 70%;
  margin: 0 auto;
  height: 100vh;
  /* min-width: 1000px;
  align-items: center; */
}


/*Базовые настройки коенц*/

.log-reg,
.out>a {
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
  border: 0;
  /* Цвет фона */
  background: white;
  /* Цвет текста */
  color: #0d6efd;
  /* Поля вокруг текста */
  padding: 5px;
  /* Уголки */
  border-radius: 5px;
  /* убриет рамки */
  border-style: none;
}

/* выполнения действия при навидении */
.log-reg,
.out>a:hover {
  /* дымка вокруг кнопки */
  box-shadow: 0 0 3px 0 #0d6efd;
  /* цвет фона */
  background: #0d6efd;
  /* цвет текста */
  color: whitesmoke;
}

/* .header-menu {
  display: inline;
  border-width: 10px;
  background-color: red;
} */
/* .header-menu {
  display: flex;


  background-color: red;
}
.child-header-menu {

} */
.header_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_menu>li,
a {
  text-decoration: none;
  font-size: 20px;
}

.logo {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.nav_menu__links {
  list-style: none;
  padding: 0;
}

.nav_menu__links > li {
  display: inline-block;
  color: #0d6efd;
}

.nav_menu__links > li > a {
 transition: all 0.3s ease 0s;
}

.nav_menu__links > li > a:hover {
 color: #46b4e3;
}

.list_event {
  display: flex;
  align-items: center;
}
.event_info{
  margin: 0 0 0 20px;
}

.footer_base {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.content_event {
  background-color: red;
}