/*Базовые настройки */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'font', sans-serif;
}

.card {
  max-width: 300px;
}

.container {
    width: 60%;
    margin: auto;
}
.dj_content {
    margin: auto;
}


.lg-rg > a  {
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
  border: 0;
  background: white; /* Цвет фона */
  color: #0d6efd; /* Цвет текста */
  padding: 5px; /* Поля вокруг текста */
  border-radius: 5px; /* Уголки */
  border-style: none; /* убриет рамки */
}

.lg-rg > a:hover{
  /* border-bottom: 2px solid #0d6efd; */
    box-shadow: 0 0 3px 0 #0d6efd;
    /* background: #0d6efd; */
    /* color: white; */
}
.lg-rg > a:visited{
  color: #0d6efd;
}