@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/*Базовые настройки */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /* background-color: #24252A; */
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    /*display: flex;*/
    /*flex-direction: column;*/
    height: 100%;
}

header {
    padding: 40px;
    height: 200px;
}

.dj {
    padding: 100px;
    height: 40px;
}

footer {
    padding: 100px;
    height: 40px;
}

.container {
    max-width: 60%;
    /*height: 100%;*/
    margin-right: auto;
    margin-left: auto;
    background-color: lightgoldenrodyellow;
}

.nav_bar {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dj_login label {
    display: block;
}

/*.card {*/
/*  max-width: 300px;*/
/*}*/

/*.container {*/
/*  width: 70%;*/
/*  margin: 0 auto;*/
/*  height: 100vh;*/
/*  !* min-width: 1000px;*/
/*  align-items: center; *!*/
/*}*/


/* HEADER*/
.log-reg > a,
.out > a {
    color: #0d6efd;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
}

.log-reg > a:hover,
.out > a:hover {
    box-shadow: 0 0 3px 0 #0d6efd;
    background: #0d6efd;
    color: whitesmoke;
    transition: all 0.5s ease 0s;
}

.logo {
    width: 70px;
    cursor: pointer;
}

.nav_menu__links {
    list-style: none;
}

.nav_menu__links > li {
    display: inline-block;
    color: #0d6efd;
}

.nav_menu__links > li > a {
    transition: all 0.5s ease 0s;
}

.nav_menu__links > li > a:hover {
    font-size: 17px;
    color: #46b4e3;
}

.nav_menu__links h4 {
    margin: auto;
}

.list_event {
    display: flex;
}

/*.event_info {*/
/*  margin: 0 0 0 20px;*/
/*}*/

/*.footer_base {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/

/*}*/
/*.footer_base ul {*/
/*  list-style-type: none;*/
/*}*/

/*.events {*/
/*  width: 70%;*/
/*  margin: 0 auto;*/
/*  height: 100vh;*/
/*}*/

/*.pagination {*/
/*  align-items: center;*/
/*  list-style-type: none;*/
/*}*/