{% extends 'Students/Base_student.html' %}

{% block content %}
    <div class="container">
        <div class="col-sm-6 ">
            <form action="" method="post" class="needs-validation" enctype="multipart/form-data">
                {% csrf_token %}
{#                {% for f in form %}#}
{#                    <p><label class="form-check-label" for="{{ f.id_for_label }}">{{ f.label }}:</label> {{ f }}</p>#}
{#                    <div class="form-error">{{ f.errors }}</div>#}
{#                {% endfor %}#}
                {{ form.as_p }}
                <hr class="my-4">
                <button class="w-100 btn btn-primary btn-lg" type="submit" href="admin/">Добавить Студента</button>
            </form>
        </div>
    </div>
    {% for i in error %}
        <p>{{ i }}</p>
    {% endfor %}
{% endblock %}
