{% extends 'Students/Base_student.html' %}

{% block content %}
    <div class="container">
        <div class="detailstudent">
            <img src="{{ student.photo_student.url }}" alt="фото студента" width="350px" height="250px"
                 class="photostudent">
        </div>
        <h3 class="infostudent">ФИО: {{ student.get_full_name }}</h3>
        <h3 class="infostudent">Статус студента: {{ student.student_status }}</h3>
        <h3 class="infostudent">Курс: {{ student.get_course_display }}</h3>
        <h3 class="infostudent">Направление: {{ student.direction }}</h3>
        {% if student.social_status %}
            <h3 class="infostudent">Социальная справка: есть</h3>
        {% else %}
            <h3 class="infostudent">Социальная справка: нету </h3>
        {% endif %}
    </div>

{% endblock %}