{% extends 'Students/Base_student.html' %}

{% block content %}
    <div class="container">
        {% if request.user.roles == "B" %}
            <div class="detailstudent">
                <img src="{{ student.photo_student.url }}" alt="фото студента" width="350px" height="250px"
                     class="photostudent">
            </div>
            <h3 class="infostudent">ФИО: <span>{{ student.get_full_name }}</span></h3>
            <h3 class="infostudent">Статус студента: <span>{{ student.student_status }}</span></h3>
            <h3 class="infostudent">Курс: <span>{{ student.get_course_display }}</span></h3>
            <h3 class="infostudent">Направление: <span>{{ student.direction }}</span></h3>
            {% if student.social_status %}
                <h3 class="infostudent">Социальная справка: <span>есть</span></h3>
            {% else %}
                <h3 class="infostudent">Социальная справка: <span>нету</span></h3>
            {% endif %}
            <h3 class="infostudent">Направление: <a href="{{ student.photo_social_reference.url }}"
                                                    style="color: #46b4e3; text-decoration: none;">Социальная справка</a></h3>
            <h3 class="infostudent">Направление: <span>{{ student.direction }}</span></h3>

        {% elif request.user.roles == 'T' %}
            <form action="." method="post" enctype="multipart/form-data">
                <div class="detailstudent">
                    <img src="{{ student.photo_student.url }}" alt="фото студента" width="350px" height="250px"
                         class="photostudent">
                    <a href="{{ student.photo_social_reference.url }}"><img
                            src="{{ student.photo_social_reference.url }}" alt="фото студента"
                            width="350px" height="250px"
                            class="photostudent"></a>
                </div>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Изменить" class="w-100 btn btn-primary btn-lg">
                {#                <button class="w-100 btn btn-primary btn-lg" type="submit">Отредактировать</button>#}
            </form>
        {% else %}
        {% endif %}
    </div>

{% endblock %}