{% extends 'Students/Base_student.html' %}
{% block title %}
    Список студентов
{% endblock %}
{% block content %}
    <div>
        {% if request.user.roles != "S" %}
            {% for m in model %}
                <div class="list_student data">
                    <div class="student_image">
                        <a href="{% url 'detail_student' m.pk %}">
                            <img src="{{ m.photo_student.url }}" alt="фото студента">
                        </a>
                    </div>
                    <div class="student_info">
                        <a href="{% url 'detail_student' m.pk %}">{{ m.student.get_full_name }}</a>
                        <h2>{{ m.get_course_display }}</h2>
                        <h2>{{ m.direction }}</h2>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}