{% extends 'Students/Base_student.html' %}
{% block title %}
    Вход
{% endblock %}
{% block content %}
    <div class="dj_login">
        <form action="" method="post" class="needs-validation">
            {% csrf_token %}
            {% for filed in form %}
                <div class="form_login">
                    <label class="h5 text-center" for="{{ filed.id_for_label }}">{{ filed.label }}</label> {{ filed }}
                    {{ filed.errors }}
                </div>
            {% endfor %}
            <input class="w-100 btn btn-lg btn-primary" type="submit" value="Sin-in">
        </form>
    </div>
{% endblock %}